/* .flexContainer:last-child{
    margin-top: 2em;
} */
body{
    margin: 0;
    padding: 0;
}
div{
    height: 50px;
    width: 50px;
}
div:nth-child(1){
    background-color: red;
    /* width: 80px;
    height: 80px; */
}
div:nth-child(2){
    background-color: blue;
}
div:nth-child(3){
    background-color: green;
}
div:nth-child(4){
    background-color: yellow;
}
div:nth-child(5){
    background-color: pink;
}
div:nth-child(6){
    background-color: black;
}
div:nth-child(7){
    background-color: orange;
}
div:nth-child(8){
    background-color: silver;
}

.flexContainer{
    display: flex;
    margin-top: 2em;
    /* flex-direction: column;
    align-items: center;*/
    
}
/* flex: [grow][shrink] [basis] */
.flexItem{
    /* flex-grow: 1; */
    flex: 0 1 25%;
    /* flex-basis: 200px; */
}
.primeiro{
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
}